{% extends 'layout.html' %}
{% block body %}
<div class="container">
	{% from "includes/_formhelpers.html" import render_field %}
	<form action="{{ url_for('users.register') }}" method="POST">
		{{ form.csrf_token }}
		<form-group form-group>
			<h1 class="h3 mb-3 font-weight-normal">Register</h1>
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						{{render_field(form.first_name, class_="form-control")}}
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						{{render_field(form.last_name, class_="form-control")}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						{{render_field(form.email, class_="form-control")}}
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						{{render_field(form.username, class_="form-control")}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						{{render_field(form.password, class_="form-control")}}
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						{{render_field(form.confirm, class_="form-control")}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						{{ render_field(form.recaptcha, class_="form-control") }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						{{ form.submit(class="btn btn-sm btn-primary") }}
					</div>
				</div>
			</div>
		</form-group>
	</form>
</div>
{% endblock %}