{% extends 'layout.html' %}

{% block body %}
<div class="page-content">
  <h4>Dashboard - <small>Welcome {{ session.username }}</small></h4>
  <a class="btn btn-succss" href="/add_member">Add Member</a>
    <hr>
    <h5>{APP NAME HERE} Member List</h5>
    <table class="table table-striped">
    	<tr>
    		<th class="fit">Member ID</th>
    		<th class="fit">First Name</th>
    		<th class="fit">Last Name</th>
    		<th class="fit">Street Number</th>
    		<th class="fit">Streen Name</th>
    		<th class="fit">City</th>
    		<th class="fit">State</th>
    		<th class="fit">Postal Code</th>
    		<th class="fit">Contact Number</th>
    		<th class="fit">Birthdate</th>
    		<th class="fit">Tier</th>
    		<th class="fit">Assigned Elder First Name</th>
    		<th class="fit">Assigned Elder Last Name</th>
    		<th class="fit"></th>
    		<th class="fit"></th>
    	</tr>
    	{% for member in members %}
    		<tr>
    			<td class="fit">{{member.member_id}}</td>
    			<td class="fit">{{member.first_name}}</td>
    			<td class="fit">{{member.last_name}}</td>
    			<td class="fit">{{member.street_num}}</td>
    			<td class="fit">{{member.street_name}}</td>
    			<td class="fit">{{member.city}}</td>
    			<td class="fit">{{member.state}}</td>
    			<td class="fit">{{member.postal_code}}</td>
    			<td class="fit">{{member.contact_num}}</td>
    			<td class="fit">{{member.birthdate}}</td>
    			<td class="fit">{{member.member_tier}}</td>
    			<td class="fit">{{member.assigned_elder_first_name}}</td>
    			<td class="fit">{{member.assigned_elder_last_name}}</td>
    			<td class="fit"><a href="#" class="btn btn-secondary btn-sm pull-right">Edit</a></td>
    			<td class="fit">
    				<form action="#" method="POST">
	    				<input type="hidden" name="_method" value="DELETE"></input>
	    				<input type="submit" value="Delete" class="btn btn-danger btn-sm"></input>
    				</form>
    			</td>
    		</tr>

    	{% endfor %}
    </table>
<div>
{% endblock %}