{% extends 'layout.html' %}

{% block body %}
<div class="page-content">
  <center><h4>Login</h4></center>
  {% from "includes/_formhelpers.html" import render_field %}
  <form action="{{ url_for('login') }}" method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
      {{render_field(form.email, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.password, class_="form-control")}}
    </div>
    <div>
        <a href="#">Forgot Password</a></li>
    </div>
    <center><button type="submit" class="btn btn-primary">Submit</button></center>
  </form>
  <div>
{% endblock %}